/* @import "./base.css"; */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Manrope", sans-serif;
  color: #598392;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #eff6e0;
}
html::-webkit-scrollbar {
  width: 12px;
  background-color: inherit;
  z-index: 0;
}
html::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: inherit;
  z-index: 0;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: #598392;
}
h1 {
  font-size: 34px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
  color: #124559;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}
.main {
  padding: 5vh 0;
  margin-top: 20vh;
  height: 460px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aec3b0;
  border-radius: 5%;
}

input {
  color: #124559;
  background-color: #aec3b0;
  border-style: none;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}
input::placeholder {
  color: #124559;
}
