/* @import "./base.css"; */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Manrope", sans-serif;
  color: #598392;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #eff6e0;
}

h1 {
  font-size: 34px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
  color: #01161e;
}

a {
  text-decoration: none;
  transition: 0.4s;
}
.nav-bar {
  background-color: #aec3b0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 40px;
}
.new-task-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-wrapper {
  display: flex;
  justify-content: center;
}
.main {
  padding: 5vh 0;
  margin-top: 20vh;
  height: 460px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aec3b0;
  border-radius: 5%;
}
.cards-wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.card {
  max-width: 320px;
  min-width: 320px;
  background-color: #aec3b0;
  border-radius: 7px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  position: relative;
}
.completed-card {
  opacity: 85%;
  text-decoration: line-through;
}
.active-logo:hover {
  cursor: pointer;
}
.disabled-logo {
  opacity: 30%;
}
.card-text {
  color: #01161e;
}
.description {
  border-radius: 7px;
  border: 1px;
  border-color: #eff6e0;
  border-style: solid;
  padding: 10px;
}
.card-buttons {
  display: flex;
}
.card-button {
  background-color: #aec3b0;
  color: #eff6e0;
  border-style: none;
  border-radius: 7px;
  width: 50px;
}
input {
  color: #124559;
  background-color: #aec3b0;
  border-style: none;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

textarea {
  color: #124559;
  background-color: #aec3b0;
  border-style: none;
  text-decoration: none;
  font-size: 1em;
}
@media (min-width: 851px) {
  h1 {
    font-size: 50px;
  }
  .cards-wrapper {
    flex-direction: row-reverse;
  }
}
/* .input {
  color: black;
  margin-bottom: 1rem;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
